@import "fontawesome/font-awesome";

.fa.fa-web {
  @extend .fa-globe;
}
.fa.fa-blog {
  @extend .fa-pencil;
}

a div.social-link {
  color: $base-white;

  &:hover {
    color: white;
    opacity: 0.4;
  }

  &.web {
    background: #9C0;
  }

  &.facebook {
    background: #3b5998;
  }

  &.linkedin {
    background: #0077b5;
  }

  &.twitter {
    background: #00a0d1;
  }

  &.pinterest {
    background: #910101;
  }

  &.blog {
    background: #c4302b;
  }

  &.youtube {
    background: #c4302b;
  }

  &.tumblr {
    background: #34526f;
  }

  &.flickr {
    background: #F3F;
  }

  &.digg {
    background: #036;
  }

  &.delicious {
    background: #03C;
  }

  &.smashmag {
    background: #F30;
  }

  &.email {
    background: #9C0;
  }

  &.stackoverflow {
    background: #F60;
  }

  &.vimeo {
    background: #069;
  }

  &.google-plus, &.google {
    background: #dd4b39;
  }
}