
@import org.hatdex.dataplug.controllers.routes
@import java.util.Date

<footer>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <h4>Useful Links</h4>
      <ul>
        <li><a href="https://hatters.hubofallthings.com" target="_blank">Get a HAT</a></li>
        <li><a href="https://www.hatcommunity.org/our-voice" target="_blank">HAT News</a></li>
        <li><a href="https://hatdex.org/announcements-briefings/" target="_blank">HATDeX Press Releases</a></li>
        <li><a href="https://innovation.hubofallthings.com" target="_blank">HAT Innovation</a></li>
        <li><a href="https://www.hataccelerator.org" target="_blank">HAT Accelerator</a></li>
        <li><a href="https://www.eventbrite.co.uk/o/hat-community-foundation-11806940062" target="_blank">Upcoming Events</a></li>
        <li><a href="https://hatdex.org/contact-us/" target="_blank">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4>HAT Websites</h4>
      <ul>
        <li><a href="https://www.hatcommunity.org" target="_blank">www.hatcommunity.org</a></li>
        <li><a href="https://www.hatresearch.org" target="_blank">www.hatresearch.org</a></li>
        <li><a href="https://developers.hubofallthings.com" target="_blank">developers.hubofallthings.com</a></li>
        <li><a href="https://innovation.hubofallthings.com" target="_blank">innovation.hubofallthings.com</a></li>
        <li><a href="https://www.hatdex.org" target="_blank">hatdex.org</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4>HAT Products</h4>
      <ul>
        <li><a href="https://hatters.hubofallthings.com" target="_blank">HATs</a></li>
        <li><a href="https://itunes.apple.com/app/id1303181222?mt=8" target="_blank">HAT App (iOS)</a></li>
        <li><a href="https://rumpel.hubofallthings.com" target="_blank">HAT Web Dashboard</a></li>
        <li><a href="https://itunes.apple.com/app/id1338778866?mt=8" target="_blank">Notables App (iOS)</a></li>
        <li><a href="https://hatdex.org/the-technology">HATDeX Products</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3">
      <h4>HAT Resources</h4>
      <ul>
        <li><a href="https://github.com/Hub-of-all-Things" target="_blank">The HAT on GitHub</a></li>
        <li><a href="https://developers.hubofallthings.com" target="_blank">Developer Portal</a></li>
        <li><a href="https://forum.hatcommunity.org" target="_blank">HAT Forums</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="copyrights">
      <ul>
        <li>&copy; 2016 &dash; @(new Date().format("yyyy")), All Rights Reserved.</li>
        <li><a href="https://www.hatcommunity.org/our-voice" target="_blank">HAT News</a></li>
        <li><a href="https://hatdex.org/case-studies-1" target="_blank">HAT Case Studies</a></li>
        <li><a href="https://hatdex.org/hatdex-team" target="_blank">Our Team</a></li>
      </ul>

    </div>
    <div class="follow-footer">
      <span>Follow HAT</span>
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/hubofallthings" target="_blank">
          <img src="@routes.Assets.versioned("/public/lib/dataplug", "images/Facebook_Logo_White_On_Blue.svg")" alt="Facebook" width="25em">
        </a></li>
        <li><a href="https://twitter.com/TheHATDex"  target="_blank">
          <img src="@routes.Assets.versioned("/public/lib/dataplug", "images/Twitter_Logo_White_On_Blue.svg")" alt="Twitter" width="25em">
        </a></li>
      </ul>
    </div>
  </div>
  <div class="certified">
    <img src="@routes.Assets.versioned("/public/lib/dataplug", "images/certified.png")" alt="HATDeX Certified" />
  </div>
</footer>