<!--
  ~ Copyright (C) 2016 - 2019 Dataswift Ltd - All Rights Reserved
  ~  This Source Code Form is subject to the terms of the Mozilla Public
  ~  License, v. 2.0. If a copy of the MPL was not distributed with this
  ~  file, You can obtain one at http://mozilla.org/MPL/2.0/.
  ~  Written by Andrius Aucinas <andrius.aucinas@dataswift.io>, 10 2016
  -->

<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss}] %logger{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <!-- GENERAL APP LOGGERS -->
  <logger name="ch.qos.logback" level="WARN" />
  <logger name="play" level="INFO" />
  <logger name="http" level="INFO" />
  <logger name="application" level="INFO" />

  <!-- PLUG-SPECIFIC LOGGERS -->
  <logger name="com.hubofallthings.dataplugFacebook" level="INFO" />
  <logger name="com.hubofallthings.dataplugFacebook.apiInterfaces.*" level="INFO" />
  <logger name="com.hubofallthings.dataplugFacebook.controllers.Api" level="INFO" />

  <!-- CORE PLUG LOGGERS -->
  <logger name="com.hubofallthings.dataplug.*" level="INFO" />
  <logger name="com.hubofallthings.dataplug.actors.PhataDataPlugVariantSyncer" level="ERROR" />
  <logger name="com.hubofallthings.dataplug.actors.DataPlugManagerActor" level="INFO" />
  <logger name="com.hubofallthings.dataplug.services.*" level="INFO" />
  <logger name="com.hubofallthings.dataplug.controllers.*" level="INFO"/>
  <logger name="com.hubofallthings.dataplug.controllers.Api" level="INFO"/>
  <logger name="com.hubofallthings.dataplug.utils.JwtPhataAuthenticatedAction" level="INFO" />
  <logger name="com.hubofallthings.dataplug.utils.JwtPhataAwareAction" level="INFO" />

  <!-- LIBRARY LOGGERS -->
  <logger name="org.hatdex.dexter.actors.HatClientActor" level="INFO" />
  <logger name="org.hatdex.hat.api.services.HatClient" level="INFO" />

  <root level="WARN">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
