<!--
  ~ Copyright (C) 2017 HAT Data Exchange Ltd - All Rights Reserved
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  ~ Written by Augustinas Markevicius <augustinas.markevicius@hatdex.org> 2, 2017
  -->

<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss}] %logger{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <!-- GENERAL APP LOGGERS -->
  <logger name="ch.qos.logback" level="WARN" />
  <logger name="play" level="INFO" />
  <logger name="http" level="INFO" />
  <logger name="application" level="INFO" />

  <!-- PLUG-SPECIFIC LOGGERS -->
  <logger name="org.hatdex.dataplugTwitter" level="INFO" />
  <logger name="org.hatdex.dataplugTwitter.apiInterfaces.*" level="INFO" />
  <logger name="org.hatdex.dataplugTwitter.apiInterfaces.TwitterFriendInterface" level="INFO" />
  <logger name="org.hatdex.dataplugTwitter.controllers.Api" level="INFO" />

  <!-- CORE PLUG LOGGERS -->
  <logger name="org.hatdex.dataplug.*" level="INFO" />
  <logger name="org.hatdex.dataplug.actors.PhataDataPlugVariantSyncer" level="ERROR" />
  <logger name="org.hatdex.dataplug.actors.DataPlugManagerActor" level="INFO" />
  <logger name="org.hatdex.dataplug.services.*" level="INFO" />
  <logger name="org.hatdex.dataplug.controllers.*" level="INFO"/>
  <logger name="org.hatdex.dataplug.utils.JwtPhataAuthenticatedAction" level="INFO" />
  <logger name="org.hatdex.dataplug.utils.JwtPhataAwareAction" level="INFO" />

  <!-- LIBRARY LOGGERS -->
  <logger name="org.hatdex.dexter.actors.HatClientActor" level="INFO" />
  <logger name="org.hatdex.hat.api.services.HatClient" level="INFO" />

  <root level="WARN">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
