@(signInForm: Form[String], errorMessage: Option[String])(implicit request: RequestHeader, messages: Messages)

@import views.html.b3
@import b3.vertical.fieldConstructor

@import com.hubofallthings.dataplug.views.html._
@import com.hubofallthings.dataplug.controllers.routes

@templates.main(Messages("sign.in.title")) {

    <div class="row">
        @errorMessage.map { message =>
            <div class="alert alert-danger alert-dismissable" role="alert" style="font-size: 14px; font-weight: bold; text-align: center;">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @message
            </div>
        }

        <div class="plug-content">
            <h2 class="signin-header">@Messages("signin.hat.header")</h2>
            <fieldset class="signin">
                <legend>@Messages("signin.hat.info")</legend>
                @b3.form(action = routes.HatLoginController.signinHat()) {
                    @helper.CSRF.formField

                    @b3.text(signInForm("hataddress"),
                        'placeholder -> "yourhat.hubofallthings.net",
                        'autofocus -> true,
                        '_help -> Messages("signin.hat.hint"))

                    @b3.submit('class -> "btn btn-dataplug") {
                        @Messages("signin.hat.signin")
                    }
                }
            </fieldset>
        </div>
    </div>
}