@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@import org.hatdex.dataplug.models.User
@import org.hatdex.dataplug.apiInterfaces.models.ApiEndpointVariantChoice

@(socialProviders: SocialProviderRegistry, endpointVariants: Option[Seq[ApiEndpointVariantChoice]], redirect: String)(implicit user: User, request: RequestHeader, messages: Messages)

@menubarContent = {
    <li class="text-lowercase">
        <a href="@redirect">
        @user.userId
        </a>
    </li>
}

@customScripts = {
    <script>
        function quitBox(cmd) {
        	if (cmd === 'close') {
                open(location, '_self').close();
        	}
            return false;
        }
    </script>
}

@org.hatdex.dataplug.views.html.templates.main(Messages("sign.in.title"), menubarContent = menubarContent, scripts = customScripts) {
    <div class="row">
        <div class="plug-content">
            <div class="complete-instructions">
                @Messages("complete.instructions")
            </div>

            <input type="button" class="btn btn-dataplug" name="cloes" id="close" value=" @Messages("button.rumpel")" onclick="return quitBox('close');" />
        </div>
    </div>
}