@(socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit user: org.hatdex.dataplug.models.User, request: RequestHeader, messages: Messages)

@import org.hatdex.dataplug.controllers.routes

@templates.main(Messages("sign.in.title")) {

    @if(socialProviders.providers.nonEmpty) {
        <h1>Networks already linked:</h1>
        <div class="social-providers">
            <div>
            @for(p <- socialProviders.providers if user.linkedUsers.map(_.providerId).contains(p.id)) {
                <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)">
                    <img src="@controllers.routes.Assets.versioned(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@Messages(p.id)">
                </a>
            }
            </div>
        </div>

        <h1>Networks available:</h1>
        <div class="social-providers">
            <div>
            @for(p <- socialProviders.providers if p.id != "clef") {
                <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)">
                    <img src="@controllers.routes.Assets.versioned(s"images/providers/${p.id}.png")" width="64px" height="64px" alt="@Messages(p.id)">
                </a>
            }
            </div>
        </div>
    }
}