@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@import org.hatdex.dataplug.models.User
@import org.hatdex.dataplug.apiInterfaces.models.ApiEndpointVariantChoice
@import org.hatdex.dataplug.controllers.routes

@(socialProviders: SocialProviderRegistry,
        endpointVariants: Option[Seq[ApiEndpointVariantChoice]])(implicit user: User, request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@menubarContent = {
    <li class="text-lowercase">
        <a href="https://@user.userId/hatlogin?name=Rumpel&redirect=https://rumpel.hubofallthings.com/calendar">
        @user.userId
        </a>
    </li>
}

@org.hatdex.dataplug.views.html.templates.main(Messages("sign.in.title"), menubarContent = menubarContent) {
    <div class="row">
        <div class="plug-content col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            @endpointVariants.map { _ =>
                <div class="complete-instructions">
                    @Messages("disconnect.instructions")
                </div>
                <div class="complete-instructions">
                    @Messages("disconnect.note")
                </div>
                <a class="btn btn-block btn-dataplug" href="@routes.Application.disconnect()">
                    @Messages("disconnect.button")
                </a>
            }.getOrElse {
                <div class="complete-instructions">
                    @Messages("disconnect.disconnected")
                </div>
                <div class="complete-instructions">
                    @Messages("disconnect.noteDisconnected")
                </div>
                <a class="btn btn-block btn-dataplug" href="@routes.Application.index()">
                    @Messages("disconnect.reconnectButton")
                </a>
            }

            @endpointVariants.map { variants =>
                @b3.form(org.hatdex.dataplug.controllers.routes.Application.connectVariants(), 'class -> "synchronisation-options") {
                    <legend><h3>@Messages("setup.dataplug.info")</h3></legend>
                    <fieldset>
                        @helper.CSRF.formField

                        @for((variant, index) <- variants.zipWithIndex) {
                            <div class="form-group" id="endpointVariants_@(index)_field">
                                <div class="checkbox checkbox-circle checkbox-rump">
                                    <input type="checkbox" name="endpointVariants[@index]"
                                    id="endpointVariants_@index"
                                    value="@variant.key"
                                        @("checked".when(variant.active))>
                                    <label for="endpointVariants_@index">@variant.description</label>
                                </div>
                            </div>
                        }
                    </fieldset>
                    @b3.submit('class -> "btn btn-dataplug") {
                        @Messages("connect")
                    }
                }
            }

            <a class="btn btn-block btn-dataplug" id="rumpel-link" href="https://@user.userId/hatlogin?name=Rumpel&redirect=https://rumpel.hubofallthings.com">
            @Messages("button.rumpel")
            </a>
        </div>
    </div>

    <script>
            var standalone = window.navigator.standalone,
                    userAgent = window.navigator.userAgent.toLowerCase(),
                    safari = /safari/.test(userAgent),
                    ios = /iphone|ipod|ipad/.test(userAgent);

            if (ios && safari && !standalone) { // Most likely mobile Safari
                var link = document.getElementById("rumpel-link");

                link.href = "rumpellocationtrackerapp://dataplugsapphost/";
                link.text = "Back to Rumpel Lite";
            }
    </script>
}