@(signInForm: Form[String])(implicit request: RequestHeader, messages: Messages)

@import views.html.b3
@import b3.vertical.fieldConstructor

@import org.hatdex.dataplug.views.html._
@import org.hatdex.dataplug.controllers.routes

@templates.main(Messages("sign.in.title")) {
    <div class="row">
        <div class="plug-content">
            <h2 class="signin-header">@Messages("signin.hat.header")</h2>
            <fieldset class="signin">
                <legend>@Messages("signin.hat.info")</legend>
                @b3.form(action = routes.HatLoginController.signinHat()) {
                    @helper.CSRF.formField

                    @b3.text(signInForm("hataddress"),
                        '_label -> Messages("field.hataddress"),
                        'placeholder -> "yourhat.hubofallthings.net",
                        'autofocus -> true,
                        '_help -> Messages("signin.hat.hint"))

                    @b3.submit('class -> "btn btn-block btn-dataplug") {
                        @Messages("signin.hat.signin")
                    }
                }
            </fieldset>
        </div>
    </div>
}