option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: "arn:aws:acm:eu-west-1:974966015544:certificate/a426d7cc-200c-44e0-b915-055d3990ddb2"
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
