option_settings:
  aws:elb:loadbalancer:
    LoadBalancerHTTPPort: ON
    LoadBalancerHTTPSPort: ON
    SSLCertificateId: $CERT_ARN
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: $CERT_ARN
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: true
