@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@(socialProviders: SocialProviderRegistry
    )(implicit user: org.hatdex.dataplug.models.User, request: RequestHeader, messages: Messages)

@menubarContent = {
    <li class="text-lowercase">
        <a href="https://@user.userId/hatlogin?name=Rumpel&redirect=https://rumpel.hubofallthings.com/calendar">
        @user.userId
        </a>
    </li>
}

@org.hatdex.dataplug.views.html.templates.main(Messages("sign.in.title"), menubarContent = menubarContent) {
    <div class="row">
        <div class="plug-content col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="complete-instructions">
                @Messages("complete.instructions")
            </div>
            <a class="btn btn-block btn-dataplug" id="rumpel-link" href="https://@user.userId/hatlogin?name=Rumpel&redirect=https://rumpel.hubofallthings.com">
                @Messages("button.rumpel")
            </a>
        </div>
    </div>

    <script>
            var standalone = window.navigator.standalone,
                    userAgent = window.navigator.userAgent.toLowerCase(),
                    safari = /safari/.test(userAgent),
                    ios = /iphone|ipod|ipad/.test(userAgent);

            if (ios && safari && !standalone) { // Most likely mobile Safari
                var link = document.getElementById("rumpel-link");

                link.href = "rumpellocationtrackerapp://dataplugsapphost/";
                link.text = "Back to Rumpel Lite";
            }
    </script>
}