@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import org.hatdex.dataplug.apiInterfaces.models.ApiEndpointVariantChoice
@(socialProviders: SocialProviderRegistry,
        endpointvariants: Option[Seq[ApiEndpointVariantChoice]],
        signupForm: Form[List[String]])(implicit user: org.hatdex.dataplug.models.User, request: RequestHeader, messages: Messages)

@import b3.vertical.fieldConstructor

@menubarContent = {
    <li class="text-lowercase">
        <a href="https://@user.userId/hatlogin?name=Rumpel&redirect=https://rumpel.hubofallthings.com/calendar">
        @user.userId
        </a>
    </li>
}

@org.hatdex.dataplug.views.html.templates.main(Messages("sign.in.title"), menubarContent = menubarContent) {
    @if(socialProviders.providers.nonEmpty) {
        <div class="plug-content">

            @request.flash.get("success").map { message =>
                <div class="plug-feedback">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @message <br />
                        @Messages("setup.message.delay")
                    </div>

                    <a role="button" href="https://@user.userId/hatlogin?name=Rumpel&redirect=https://rumpel.hubofallthings.com/calendar" class="btn btn-dataplug btn-rumpel">
                        @Messages("setup.goto.rumpel")</a>
                </div>
            }

            @endpointvariants.map { variants =>
                @*@b3.form(org.hatdex.dataplugFitbit.controllers.routes.Application.processSignups,*@
                    @*'class -> "synchronisation-options") {*@
                @*<legend><h3>@Messages("setup.monzo.info")</h3></legend>*@
                @*<fieldset>*@
                @*@helper.CSRF.formField*@

                @*@for((variant, index) <- variants.zipWithIndex) {*@
                    @*<div class="form-group" id="endpointVariants_@(index)_field">*@
                    @*<div class="checkbox checkbox-circle checkbox-rump">*@
                    @*<input type="checkbox" name="endpointVariants[@index]"*@
                    @*id="endpointVariants_@index"*@
                    @*value="@variant.key"*@
                    @*@("checked".when(variant.active))>*@
                    @*<label for="endpointVariants_@index">@variant.description</label>*@
                    @*</div>*@
                    @*</div>*@
                    @*}*@
                    @*</fieldset>*@
                    @*@b3.submit('class -> "btn btn-dataplug") {*@
                        @*@Messages("connect")*@
                @*}*@
                @*}*@
            }


                @if(socialProviders.providers.filterNot(p => user.linkedUsers.map(_.providerId).contains(p.id)).nonEmpty) {
                <section class="available-networks">
                    <h3>@Messages("setup.link")</h3>
                    <div class="social-providers">
                    @for(p <- socialProviders.providers if !user.linkedUsers.map(_.providerId).contains(p.id)) {
                        <a href="@org.hatdex.dataplug.controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)">
                            <div class="social-link @p.id.toLowerCase">
                                <i class="fa fa-@p.id.toLowerCase"></i>
                            </div>
                        </a>
                    }
                    </div>
                </section>
            }
        </div>
    }
}