@(title: String, menubarContent: Html = Html(""), styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""), meta: Html = Html(""))(content: Html)

@navbarContent = {
  <ul class="nav navbar-nav navbar-right">
    <li><a href="http://www.hatdex.org/notables/" target="_blank">About DATAPLUG</a></li>
    <li><a href="http://www.hatdex.org/what-is-the-hat/" target="_blank">What is the HAT</a></li>
    <li><a href="https://marketsquare.hubofallthings.com" target="_blank">MarketSquare</a></li>
    <li><a href="https://marketsquare.hubofallthings.com/signin" target="_blank">Sign In</a></li>
  </ul>
}

@allScripts = {
  <script src="@routes.Assets.versioned("js/jquery.js")"></script>
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
  @scripts
}

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @meta
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/haticon.png")">
    <link href="@routes.Assets.versioned("webfonts/ss-glyphish-outlined.css")" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    @styles
  </head>
  <body>
    <header>
      <header>
        <div class="navbar">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <span class="navbar-brand">
                DATAPLUG
              </span>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              @navbarContent
            </div>
          </div>
        </div>
      </header>
    </header>

    @menubarContent

    <div class="content-main">
      <div class="container-fluid">
      @content
      </div>

      @org.hatdex.dataplug.views.html.components.footer()
    </div>
    @modals
    @allScripts
  </body>

</html>
