@(
        title: String,
        menubarContent: Html = Html(""),
        styles: Html = Html(""),
        scripts: Html = Html(""),
        modals: Html = Html(""),
        meta: Html = Html("")
)(content: Html)(implicit messages: Messages)

@import org.hatdex.dataplug.controllers.routes

@navbarContent = {
    <ul class="nav navbar-nav navbar-right">
        @menubarContent
        @*<li><a href="http://www.hatdex.org/what-is-the-hat/" target="_blank">What is the HAT</a></li>*@
        @*<li><a href="https://marketsquare.hubofallthings.com" target="_blank">MarketSquare</a></li>*@
    </ul>
}

@allScripts = {
    <script src="@routes.Assets.versioned("/public/lib/dataplug", "js/jquery.js")"></script>
    <script src="@routes.Assets.versioned("/public/lib/dataplug", "js/bootstrap.min.js")"></script>
@scripts
}

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @meta
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("/public/lib/dataplug", "images/haticon.png")">
        <link href="@routes.Assets.versioned("/public/lib/dataplug", "webfonts/ss-glyphish-outlined.css")" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("/public/lib/dataplug", "stylesheets/main.css")">
        @styles
    </head>
    <body>
        <header>
            <header>
                <div class="navbar">
                    <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <span class="navbar-brand">
                            @Messages("dataplug.name")
                            </span>
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse" id="navbar-main">
                        @navbarContent
                        </div>
                    </div>
                </div>
            </header>
        </header>

        <div class="content-main">
            <div class="container-fluid">
            @content
            </div>
        </div>
        @org.hatdex.dataplug.views.html.components.footer()
        @modals
        @allScripts
    </body>

</html>
